.SearchResults {
  border-radius: 5px;
  width: 40%;
  height: 650px;
  padding: 1rem 1rem;
  overflow-y: scroll;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

