.Playlist {
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 35%;
    max-height: 650px;
    padding: 1rem 1rem;
    background-color: #4e96b3;
    box-shadow: 0 4px 2px 2px #000000;
  }
  .Playlist-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .Playlist-tracks {
    align-items: center;
  }
  
  .Playlist input {
    width: 75%;
    border: 0;
    outline: 0;
    padding: 5px;
    background: transparent;
    border-bottom: 1px solid #ff8800;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.55rem;
    font-weight: 500;
    color: #fff;
  }
  
  .Playlist-save {
    cursor: pointer;
    align-self: center;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #ff8800;
    text-align: center;
    font-size: .83rem;
    font-weight: 1000;
    font-family: 'Source Code Pro', sans-serif;
    transition: background-color .25s;
    color: #fdfdfd;
  }

  .clear {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2.5rem;
    border-radius: 20%;
    background-color: rgba(1, 12, 63, 0.7);
    cursor: pointer;
    transition: background-color .25s;
  }
  
  .clear:hover {
    background-color:rgba(18, 79, 129, 0.7);
  }
  
  .Playlist-save:hover {
    background-color: rgba(1, 12, 63, 0.7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }