
.matrix-background {
    z-index: 1;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:200vh;
    pointer-events: none; 
    overflow: visible;
}


@media screen and (max-width: 764px) {
    .matrix-background {
        display: none;
    }
    
}
