.OthersList {
    border-radius: 5px;
    width: 55%;
    height: 650px;
    padding: 1rem 1rem;
    overflow-y: scroll;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    margin-top: 2rem;
  }
  
  .OthersList input {
    border-bottom: 1px solid #ff8800;
    padding-bottom: 5px;
    width: 75%;
    border: 0;
    outline: 0;
    padding: 15px;
    background: transparent;
    border-bottom: 1px solid #ff8800;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.55rem;
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
